div h1 {
  color: #fafafa;
  font-size: 45px;
}

div h2 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 200;
}

ul {
  margin-top: 25px;
}

li {
  list-style: none;
  font-size: 13px;
  font-weight: 500;
}

li:first-letter {
  text-transform: capitalize;
}

strong {
  font-size: 60px;
  margin-left: 20px;
}

hr {
  position: relative;
  top: -15px;
}

footer {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

a {
  color: #297f87;
  text-decoration: none;
}

a:hover {
  color: #f55f98;
}

.app {
  background: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  border: 1px solid #ffffff;
  border-radius: 25px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 550px;
  padding: 30px;
}

.forecast-overview {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
}

.city-search {
  border-radius: 10px;
  display: inline;
  padding: 30px 0 0;
  text-align: right;
}

.change-city {
  background-color: #fff7ae;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #297f87;
  display: inline;
  font-size: 14px;
  font-weight: 450;
  padding: 5px 15px;
}

.change-city:hover {
  background-color: #fcf18f;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.current-city {
  background-color: #fff7ae;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #297f87;
  display: inline;
  font-size: 14px;
  font-weight: 450;
  padding: 5px 15px;
}

.current-city:hover {
  background-color: #fcf18f;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
