body {
  font-family: "Open Sans", sans-serif;
}

div h1 {
  color: #fafafa;
  font-size: 45px;
}

div h2 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 200;
}

ul {
  margin-top: 25px;
}

li {
  color: #001a3d;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

li:first-letter {
  text-transform: capitalize;
}

strong {
  color: #001a3d;
  font-size: 60px;
  margin-left: 20px;
}

hr {
  position: relative;
  top: -15px;
}

footer {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

a {
  color: #3d70fe;
  text-decoration: none;
}

a:hover {
  color: #0bcdfe;
}

.app {
  background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  border: 1px solid #ffffff;
  border-radius: 25px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 550px;
  padding: 30px;
}

.data {
  color: #1324bf;
}

.forecast-overview {
  color: #fafafa;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.weather-forecast-temp-max {
  color: #001a3d;
  font-weight: 700;
}

.weather-forecast-temp-min {
  color: #001a3d;
  font-weight: 400;
}

.city-search {
  border-radius: 10px;
  display: inline;
  padding: 30px 0 0;
  text-align: right;
}

.change-city {
  background-color: #8bffff;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #3d70fe;
  display: inline;
  font-size: 14px;
  font-weight: 450;
  padding: 5px 15px;
}

.change-city:hover {
  background-color: #81efef;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.current-city {
  background-color: #8bffff;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #297f87;
  display: inline;
  font-size: 14px;
  font-weight: 450;
  padding: 5px 15px;
}

.current-city:hover {
  background-color: #81efef;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
